body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
.topWrapper {
  position: relative;
  display: block;
  position: fixed;
  width: 100%;
  background: #f5f5f5;
  margin-block: auto;
  top: 0;
  z-index: 99;
}
.topBar {
  text-align: center;
  display: flex;
  margin: 0;
  width: 100%;
  font-size: medium;
  justify-content: space-around;
  padding-block: 0.5%;
  text-align: center;
}

.topBar img {
  padding-block: 0.5%;
}
#followus {
  display: flex;
  align-items: center;
  margin-block: 0;
}
#followus ul {
  list-style: none;
  padding-inline: 0;
  margin: 0%;
  padding: 0;
  height: 28px;
  margin-inline: 5px;
}
#followus li {
  text-decoration: none;
  padding: 0;
  margin-inline: 2px;
}
#followus li a select {
  border: none;
}

.phone {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.phone img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.email img {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.email {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav {
  padding-inline: 6%;
  display: flex;
  background-color: white;
  justify-content: space-between;
  text-align: center;
}
nav img {
  margin: auto;
  height: 40px;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 20px 20px 5px 20px;
  font-weight: 120px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 540;
}

nav ul li select {
  font-size: 17px;
  border: none;
}

nav ul li a:active {
  color: red;
}

.wrapper {
  margin-top: 13%;
  padding-inline: 6%;
  /* overflow-x: hidden; */
}

.heroSection {
  width: 100%;
  height: 500px;
  display: block;
  background: url(../img/heroimage.png);
  background-size: cover;
}

.heroSection h1 {
  font-size: 65px;
  font-weight: 700px;
  padding-top: 8%;
  margin-bottom: 0;
  padding-right: 40%;
  padding-left: 5%;
}
.wrapper {
  display: block;
}

.heroSection p {
  width: 30%;
  padding-left: 5%;
}

.heroSection button {
  margin: 0% 0% 3% 5%;
  width: 25%;
  padding: 2% 0%;
  font-size: medium;
  font-weight: 500;
  color: white;
  background-color: #17c1a3;
  border: 0;
  border-radius: 6px;
}

.heroSection a {
  margin-block: 10%;
  padding: 20px;
  font-size: small;
}
.heroSection a::before {
  content: "";
  margin-bottom: -10px;
  margin-inline: 4px;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: cover;
  background-image: url(../img/play.png);
  background-repeat: none;
}

.appointmentContainer {
  justify-content: space-between;
  background-color: white;
  margin-inline: 5%;
  padding-inline: 5px;
  border-radius: 12px;
  z-index:99;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  /* box-shadow: 1px 2px 30px black */
}

.appointmentContainer p {
  padding-top: 20px;
  font-weight: bold;
  font-size: 20px;
  display: block;
}

.appointmentInput {
  position: relative;
  width: 28%;
  height: 55px;
  font-size: medium;
  margin: 1% 2%;
  border: 1px solid rgb(161, 153, 153);
  bottom: 30%;
  border-radius: 4px;
}

.appointmentInput input {
  font-size: medium;
  color: rgb(196, 191, 191);
}

select.appointmentInput {
  width: 28.5%;
  height: 55px;
  margin: 1% 2%;
  color: rgb(109, 104, 104);
}

#bookappointmentBtn {
  margin: 0% 0% 3% 2%;
  width: 28.5%;
  padding: 2% 0%;
  font-size: medium;
  font-weight: 500;
  color: white;
  background-color: #17c1a3;
  border: 0;
  border-radius: 6px;
}
.ourDepartmentsWrapper {
  margin-top: 25%;
}
.ourDepartmentsWrapper h2 {
  font-size: 40px;
  padding-inline: 4% 90%;
}

.ourDepartments {
  display: flex;
  overflow-x: scroll;
}
.ourDepartments::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ourDepartments {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ourDepartments div {
  margin: 3%;
  display: block;
}

.ourDepartments div img {
  margin-bottom: 5%;
}

.ourDepartments span {
  font-weight: bold;
  font-size: larger;
}

.ourDepartments p {
  margin-block: 3%;
  color: #211e1e;
}

.ourDepartments a {
  color: #17c1a3;
}

.whyGgWrapper {
  display: flex;
  background-color: #cfe9e4;
  padding: 0;
  margin: 0;
}

.whyGgImage {
  flex: 1.4;
}

.whyGgImage img {
  width: 100%;
}

.whyGgDetails {
  margin: auto;
  padding-inline: 5%;
  flex: 0.6;
  width: 40%;
  text-align: left;
}

.whyGgDetails h1 {
  font-size: large;
}

.whyGgDetails ul {
  padding: 0;
}
.whyGgDetails li {
  list-style: none;
  font-size: 15px;
  margin-block: 5%;
}

.whyGgDetails ul li::before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url(../img/bullet.png);
  background-size: cover;
}

.specialist {
  margin-top: 15%;
  text-align: center;
}
.specialist h2 {
  font-size: 35px;
  margin-bottom: 0px;
}
.specialist h5 {
  margin: 1%;
  padding: 0;
  color: #6b6464;
}

.doctorWrapper {
  display: flex;
}

.doctorWrapper div {
  margin: 3%;
  display: block;
  width: 20%;
}

.doctorWrapper div img {
  margin-bottom: 5%;
  width: 93%;
}

.doctorWrapper span {
  font-weight: bold;
  font-size: larger;
}

.doctorWrapper p {
  margin-block: 3%;
  font-size: small;
  color: #6b6464;
}

.specialist button {
  margin: 0% 0% 3% 2%;
  width: 10%;
  padding: 1% 0%;
  font-size: medium;
  font-weight: 500;
  color: white;
  background-color: #17c1a3;
  border: 0;
  border-radius: 6px;
}

.facilities {
  display: block;
  text-align: center;
  margin-top: 10%;
}

.facilities h3 {
  font-size: 30px;
}

.facilities div {
  display: flex;
  justify-content: space-around;
}

.facilities img {
  width: 30%;
}
.interestedWrapper {
  margin-top: 10%;
  display: block;
  padding-block: 5%;
  padding-inline: 6%;
  margin-inline: -6%;
  text-align: center;
  background: linear-gradient(0deg, #eaf2ff 68%, white 68%);
}

.hotSection {
  display: flex;
}

.hotSection div {
  margin: 1%;
  display: block;
  width: 33.3%;
  text-align: justify;
}

.hotSection div img {
  margin-bottom: 5%;
  width: 100%;
}

.hotSection span {
  font-weight: bold;
  font-size: larger;
}

.hotSection p {
  margin-block: 3%;
  font-size: small;
  color: #6b6464;
  line-height: 1.8;
}
.hotSection p a {
  margin-block: 3%;
  font-size: small;
  color: #17c1a3;
}

.subscribeWrapper {
  display: flex;
  justify-content: space-around;
  margin-inline: 10%;
  padding-block: 5%;
  background-color: white;
  background-image: url("../img/subscribebackdrop.png");
  background-position: left;
}
.subscribeWrapper form {
  display: flex;
  height: 2em;
  padding-bottom: 0.5%;
  border-bottom: 1px solid black;
}
.subscribeWrapper input {
  border: none;
  margin: 0;
  padding: 0;
}

.subscribeWrapper button {
  padding: 4%;
  font-size: smaller;
  font-weight: 500;
  color: white;
  background-color: #17c1a3;
  border: 0;
  border-radius: 6px;
}
.bottomWrapper {
  margin-top: 10%;
  display: block;
}
.upperBottomWrapper {
  display: flex;
  font-size: 12px;
}

.upperBottomWrapper div {
  width: 30%;
}

#ggWriteup {
  margin-right: 20%;
}
.item1 {
  grid-area: title;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.upperBottomWrapperGrid {
  display: grid;
  grid-template-areas:
    "title title"
    "item2 item3"
    "item4 item5";
  padding: 2% 5%;
  margin: 0;
}

.upperBottomWrapperGrid > span {
  font-size: small;
}

.upperBottomWrapperGrid .item1 {
  text-align: left;
  font-weight: bold;
  font-size: medium;
}

.lowerBottomWrapper {
  display: flex;
}

.lowerBottomWrapper div {
  display: flex;
  height: 30px;
  width: 25%;
  margin: 2% 0%;
  font-size: 12px;
  padding-inline: auto;
}
.lowerBottomWrapper div p {
  padding-inline: 5%;
  font-size: 11px;
}

.lowerBottomWrapper div ul {
  list-style: none;
  padding-inline: 5%;
  font-size: 11px;
}

.lowerBottomWrapper div img {
  aspect-ratio: 1/1;
  padding-top: 5%;
  width: 15x;
  height: 15px;
}

#socialMedia {
  display: block;
}
#socialMedia h5 {
  font-weight: bold;
  font-size: small;
  padding: 0%;
  margin-block: 2%;
}

#socialMedia ul {
  display: flex;
  padding: 0;
  margin: 0;
}

#socialMedia ul img {
  margin: 10px;
  padding: 0;
  width: 30px;
  height: 30px;
  padding-block: auto;
}
